.header-container {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: end;
  align-items: center;
}
.logo {
  margin-left: 50px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 17px;
}
nav ul li a {
  text-decoration: none;
  color: #f8f9fa;
}
#homeborder {
  border-bottom: 2px solid #d4a373;
}

#borderotate {
  width: 25px;
  border: 0.1px solid #e5e5e5;
  transform: rotate(90deg);
}

#bsfacebook {
  color: #e5e5e5;
}
#bstwitter {
  color: #e5e5e5;
}
#bsyoutube {
  color: #e5e5e5;
}
#bspinterest {
  color: #e5e5e5;
}
#FaBehanceSquare {
  color: #e5e5e5;
}
#bssearch {
  color: #e5e5e5;
}
#borderotate2 {
  width: 25px;
  border: 0.5px solid #e5e5e5;
  transform: rotate(90deg);
}
