/* * {
  margin: 0px;
  padding: 0px;
}

.page {
  text-align: center;
  background-color: rgb(253, 89, 77);
  font-size: 36px;
  padding: 115px;
  color: white;
}
.navbar li {
  text-decoration: none;
  display: inline;
  font-size: 23px;
  padding: 39px;
  margin-top: 0px;
}
.navbar ul {
  background-color: rgb(253, 89, 77);

  padding: 0%;
  text-align: center;
  color: white;
  padding-top: 15px;
} */
/* 
.box p {
  padding: 100px;
  margin: auto;
  width: 300px;
  height: 300px;
  background-color: blue;
} */
.form {
}
